@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}
@{Layout = "~/Views/Shared/_Layout.cshtml";};

<div class="jumbotron">
	<h1>Using the jumbotron style</h1>
	<p>
		<a class="btn btn-primary btn-lg" role="button">
			Stateful button
		</a>
	</p>
</div>